GeradorDeSenha/Connected Services/ServiceReference1/servico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CriarSenha">
        <s:complexType />
      </s:element>
      <s:element name="CriarSenhaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CriarSenhaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CriarSenhaSoapIn">
    <wsdl:part name="parameters" element="tns:CriarSenha" />
  </wsdl:message>
  <wsdl:message name="CriarSenhaSoapOut">
    <wsdl:part name="parameters" element="tns:CriarSenhaResponse" />
  </wsdl:message>
  <wsdl:portType name="servicoSoap">
    <wsdl:operation name="CriarSenha">
      <wsdl:input message="tns:CriarSenhaSoapIn" />
      <wsdl:output message="tns:CriarSenhaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="servicoSoap" type="tns:servicoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarSenha">
      <soap:operation soapAction="http://tempuri.org/CriarSenha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="servicoSoap12" type="tns:servicoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarSenha">
      <soap12:operation soapAction="http://tempuri.org/CriarSenha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="servico">
    <wsdl:port name="servicoSoap" binding="tns:servicoSoap">
      <soap:address location="http://localhost:62501/servico.asmx" />
    </wsdl:port>
    <wsdl:port name="servicoSoap12" binding="tns:servicoSoap12">
      <soap12:address location="http://localhost:62501/servico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>